APP_NAME=Lumen
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=PRC
DB_TIMEZONE=+08:00

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

JWT_SECRET=
#有效时间 单位：分钟
JWT_TTL=60
#刷新时间 单位：分钟 默认1天
JWT_REFRESH_TTL=1440
#宽限时间 单位：秒
JWT_BLACKLIST_GRACE_PERIOD=60
